{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>GST Information Portal(GST) | Update Return Status</title>
<link rel="stylesheet" type="text/css" href="{% static 'gstinfo/css/reg.css' %}">
{% endblock %}

{% block body %}
<section class="sec1">
	&nbsp;
	<div class="rowss">
		<div class="col-xs-10">
			<ol class="breadcrumb">
				<li>
					<a href="{% url 'gstinfo:user-dashboard' %}">Dashboard</a>
				</li>
				<li>
					<i class="fa fa-greater-than"></i>
				</li>
				<li>
					<a href="{% url 'gstinfo:returns' %}">Returns</a>
				</li>
				<li>
					<i class="fa fa-greater-than"></i>
				</li>
				<li>
					<span>Edit Status</span>
				</li>
			</ol>
		</div>
		{% if request.path == "/gst/user/registrations/" %}
			<div class="newrow">
				<a href="{% url 'gstinfo:addform' %}">
					<button class="btn btn-success">&#43; Add New</button>
				</a>
			</div>
		{% endif %}
	</div>
	<hr class="separator">
	<div class="common-form">
		<h1 class="blinking">Update Registration Status</h1>
		<form method="post">
			{% csrf_token %}
			<div class="inputs">
				<label class="lbl_input" for="name">Name</label>
				{{ form.name }}<br><br>
				<label class="lbl_input" for="unm">Username</label>
				{{ form.username }}<br><br>
				<label class="lbl_input" for="upassword">Username Password</label>
				{{ form.upassword }}<br><br>
				<label class="lbl_input" for="mob">Phone Number</label>
				{{ form.phone_number }}<br><br>
				<label class="lbl_input" for="emailid">Email</label>
				{{ form.email }}<br><br>
				<label class="lbl_input" for="epassword">Email Password</label>
				{{ form.epassword }}<br><br>
				<label class="lbl_input" for="month">Month</label>
				{{ form.month }}<br><br>
				<label class="lbl_input" for="status">Status</label>
				{{ form.status }}<br><br>
			</div>
			<div id="buttondiv">
				<button type="submit" name="submit">Submit</button>
				<button type="reset" name="reset">Reset</button>
			</div>
		</form>
	</div>
	&nbsp;
</section>
{% endblock %}